<form method="POST">
    {% csrf_token %}    
    
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.old_password.errors }}
        <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
        {{ form.old_password }}
    </div>  

    <div class="fieldWrapper">
        {{ form.new_password1.errors }}
        <label for="{{ form.new_password1.id_for_label }}">New Password 1:</label>
        {{ form.new_password1 }}
    </div>

    <div class="fieldWrapper">
        {{ form.new_password2.errors }}
        <label for="{{ form.new_password2.id_for_label }}">New Password 2:</label>
        {{ form.new_password2 }}
    </div>
    
    <button type="submit">Change</button>
</form>
<a href="{% url 'home' %}">home page</a>
<p><a href="{% url 'password_security_check' %}">Check if your password is secure before submitting!</a></p>
<p><a href="{% url 'bulk_password_security_check' %}">Or you can check 10 different passwords at the same time!</a></p>