<h3>Add many passwords at once and see which one is better!</h3>

<form action="{% url 'bulk_password_security_check' %}" method="POST">
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{% if pwned_passwords %}
    <h4>There is a password(s) that was hacked!</h4>
    {% for password, pwned_count in pwned_passwords.items %}
        <p>This password: <b>{{ password }}</b> was hacked <b>{{ pwned_count }}</b> time(s). Better not to use it!</p>
    {% endfor %}
{% endif %}

<ul>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can’t be a commonly used password.</li>
    <li>Your password can’t be entirely numeric.</li>
    <li>You  can't send a super simple password like 'password123', because it is pointless to check.</li>
    <li>You can access this page as many times as you want.</li>
    <li>You can submit your passwords at most 1 time per minute!</li>
</ul>
<a href="{% url 'home' %}">Home page</a>
