<h3>Type a password and check, how many times it was hacked!</h3>
<h4>If a password that you typed was never hacked, consider to use it as your account password!</h4>

<p></p>

<form method="post">
    <label for="{{ form.password.id_for_label }}">Submit a password:</label>    
    {{ form.password }}
    {{ form.password.errors }}
    <button type="submit">Submit</button>
</form>

{% if messages %}
    {% for message in messages %}
        <p><b>{{ message }}</b></p>
    {% endfor %}
{% endif %}    

<ul>
{% for help in form.password.help_text %}
    <li>{{ help }}</li>
{% endfor %}
</ul>

<a href="{% url 'home' %}">Home page</a>